// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.conf{
	width:30px;
	height:30px;
	margin: 0 20px;
}

.conf-right{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}